<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>sci-library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/public/css/intlTelInput.css">

    <link rel="stylesheet" type="text/css" href="/static/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/public/css/listOfMembers.css">
    <script src="https://use.fontawesome.com/5a8a7bb461.js"></script>
    <style>
        .imagePreview {
            width: 100%;
            height: 180px;
            background: url('../img/userlogo.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #fff;
            display: inline-block;
            box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
        }
        
        @media (max-width: 575.98px) {
            .imagePreview {
                height: 130px;
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top ">
        <div class="logo"><a class="navbar-brand blue" style="color:dodgerblue;" href="#">Sci</a><a class="navbar-brand" href="#">library</a></div><button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                <li class="nav-item active"><a class="nav-link" style="color: #fff; cursor: pointer;" data-value="Register " href="/sci-library/librarian/operations">HOME</a></li>
                <li class="nav-item "><a class="nav-link" style="color: #fff; cursor: pointer;" data-value="Register " href="/sci-library/log-out/">LOG OUT</a></li>
            </ul>
        </div>
    </nav><br><br><br><br><br><br>
    <h2 style="text-align: center;"></h2>
    <div class="container py-5 op">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <!-- List group-->
                <ul class="list-group shadow">
                    <!-- list group item-->{{range .}}

                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2"> {{.Title}}

                                </h5>
                                <p class="font-italic text-muted mb-0 small isbn">(ISBN: {{.ISBN}})
                                </p>
                                <p class="font-italic text-muted mb-0 small">By {{.Author}}

                                </p>
                                <p class="font-italic text-muted mb-0 small"> {{.Pages}} pages

                                </p>
                                <p class="font-italic text-muted mb-0 small"> {{.Number}} copies

                                </p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2"> {{.Subject}} book

                                    </h6>
                                </div>
                            </div><img src="/static/public//subj-img/books/{{.BookImageName}}/{{.ImageName}} " alt="Generic placeholder image " width="200 " class="ml-lg-5 order-1 order-lg-2 ">
                        </div>
                        <!-- End -->
                    </li> {{end}}

                    <li class="list-group-item">
                        <!-- Custom content-->
                        {{range .}}
                        <form method="POST" class="media align-items-lg-center flex-column flex-lg-row p-3 needs-validation" action="/sci-library/librarian/book-updating/{{.ISBN}}" novalidate>
                            {{end}}
                            <div class="media-body order-2 order-lg-1">
                                <div class="shadow p-3 mb-5 bg-white rounded form-wrapper">

                                    <div class="form-row">
                                        <div class="col">
                                            <input type="text" class="form-control" name="isbn" placeholder="ISBN">
                                            <div class="valid-feedback ">Looks Good.</div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-row">

                                        <div class="col">
                                            <input type="text" class="form-control" name="title" placeholder="Title">
                                            <div class="valid-feedback ">Looks Good.</div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-row">
                                        <div class="col">

                                            <input type="text" class="form-control" name="authorname" placeholder="Author name">
                                            <div class="valid-feedback ">Looks Good.</div>
                                        </div>

                                    </div>
                                    <br>

                                    <div class="form-row">
                                        <div class="col">

                                            <input type="text" class="form-control" placeholder="Pages" name="pages">
                                            <div class="invalid-feedback ">
                                                Please enter a number.
                                            </div>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <div class="col">

                                            <input type="text" class="form-control" placeholder="available number of book" name="number">
                                            <div class="invalid-feedback ">
                                                Please enter a number.
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-row ">
                                        <div class="col ">

                                            <label for="exampleFormControlSelect1 ">Choose your Subject area</label>
                                            <select class="form-control " name="subject_area ">
                                                   <option>Mathmatics</option>
                                                   <option>Electronic Engineering</option>
                                                   <option>Mechanical Engineering</option>
                                                   <option>Biology</option>
                                                   <option>Physics</option>
                                                 </select>
                                        </div>

                                    </div>
                                    <br>
                                    <button type="submit " class="btn btn-primary ">Register</button>
                                    <br>
                                </div>
                            </div>


                        </form>

                        <!-- End -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small ">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 ">© 2020 Copyright: <a href="# ">sci-library.com</a></div>
        <!-- Copyright -->
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>

</body>

</html>