<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>sci-library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/public/css/intlTelInput.css">

    <link rel="stylesheet" type="text/css" href="/static/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/public/css/signup.css">
    <script src="https://use.fontawesome.com/5a8a7bb461.js"></script>

    <style>
        .navbar-nav a:hover {
            color: dodgerblue;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-dark navbar-expand-lg fixed-top ">
        <div class="logo"><a class="navbar-brand blue" style="color:dodgerblue;" href="#">Sci</a><a class="navbar-brand" href="#">library</a></div>
        <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                <li class="nav-item active">
                    <a class="nav-link" style="color: #fff; cursor: pointer;" data-value="Register " href="/home">HOME</a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="page-header header container-fluid">
        <div class="overlay"></div>
        <div class="description">
            <br>
            <br>
            <br>
            <p class="register">REGISTER</p>
        </div>
    </header>

    <!-- uploading image-->


    <div class="shadow p-3 mb-5 bg-white rounded form-wrapper">
        <p style="text-align: center; color: red;">Upload a picture before you submit the form</p>
        <form method="POST" class="needs-validation" action="/sign-up/processing" enctype="multipart/form-data" novalidate>

            <div class="form-row">
                <div class="uploadimg">
                    <div class="col-sm-12 imgUp">
                        <div class="imagePreview"></div>
                        <label class="btn btn-primary">
                                 Upload photo<input type="file" class="uploadFile img" name="imgfile" style="width: 0px;height: 0px;overflow: hidden;" required>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="firster" placeholder="First name" required>
                    <div class="valid-feedback ">Looks Good.</div>

                </div>
                <div class="col">
                    <input type="text" class="form-control" name="laster" placeholder="Last name" required>
                    <div class="valid-feedback ">Looks Good.</div>
                </div>
            </div>
            <div class="form-row">

                <div class="col">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address" required>
                    <div class="valid-feedback ">Looks Good.</div>
                </div>
                <div class="col" style="position: relative; margin-top: 2em;">
                    <input id="phone" type="tel" class="form-control phone" placeholder="Phone " name="pnum" required>
                    <div class="invalid-feedback">
                        Please provide a phone number.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control email" id="email" name="email" placeholder="Email" required>
                    <div class="invalid-feedback " id="validateEmail">
                        Please enter a valid email.
                    </div>
                    <p>{{.Any}}</p>
                </div>
                <div class="col">
                    <label for="exampleFormControlSelect1">Choose your title</label>
                    <select class="form-control" name="status" id="exampleFormControlSelect1">
                          <option>Student</option>
                          <option>Lecturer</option>
                          <option>Researcher</option>
                        </select>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password (At least 6 characters)</label required>
                    <input id="password" type="password" class="form-control"  placeholder="Password"  minlength="6" required>
                    <div class="valid-feedback" id="message">
                       Looks good                    
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="confirmPassword4">Confirm Password</label>
                    <input id="confirm_password" type="password" class="form-control" placeholder="Password" name="password" minlength="6" required>
                    <div class="invalid-feedback" id="validate">
                        Emails should match
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <br>
        <p>Your registration will processed and you be notified by an email when it is done. It can take up to two days.</p>
    </div>
    <div class="space">

    </div>
    <footer class="page-footer font-small ">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
            <a href="# "> sci-library.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/static/public/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="/static/public/js/intlTelInput.js"></script>
    <script src="/static/public/js/tel.js"></script>
    <script src="/static/public/js/validation.js"></script>

    <script>
        $(function() {
            $(document).on("change", "#email", function() {
                var user_email = $(this);
                console.log(user_email)
                options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        email: user_email
                    })
                }
                const response = await fetch('/sci-library/sign-up/check-email', options);
                const email = await response.text()
                console.log(email);

                if (data.email == email) {
                    form.classList.add('was-validated');
                    $("#validate_email").html("Email exists already");
                    event.preventDefault();
                    event.stopPropagation();
                } else {
                    $("#validateEmail").removeClass("error");
                    form.classList.add('was-validated');
                    $("#email").removeClass("error-text");
                    $("#validateEmail").html("Looks Good!");
                }
            });
        });
    </script>



    <script>
        $(function() {
            $(document).on("change", ".uploadFile", function() {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function() { // set image data as background of div
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }

            });

        });
    </script>

</body>

</html>

</html>